/* Voeg hier de stijlen voor de roulette-tafel toe */
body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    /* Voeg een tekenachtig lettertype toe */
}

/* Voeg de tekenachtige stijl toe aan alle tekst */
.roulette-table,
.bet,
.betting-buttons,
button,
.reward,
h1 {
    font-family: 'Comic Sans MS', cursive;
    /* Voeg een tekenachtig lettertype toe aan specifieke elementen */
}

.roulette-table {
    margin-top: 40px;
    background-color: #0c3e5e;
    border: 5px solid #fff;
    border-radius: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.betting-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bet {
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 5px;
}

.red {
    background-color: #ff4136;
}

.black {
    background-color: #111;
}

/* Voeg de groene stijl toe voor de 0 */
.bet.green {
    background-color: #4CAF50;
}

.betting-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#odd {
    background-color: #ffffff;
    color: #000000;
}

button#even {
    background-color: #ffffff;
    color: #000000;
}

button#black {
    background-color: #ffffff;
    color: #000000;
}

button#red {
    background-color: #ffffff;
    color: #000000;
}

.spinbutton {
    background-color: rgb(33, 233, 103);
}

.selectable.hovered {
    border-color: #ffd900;
    color: #ffd900;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.selectable.selected {
    border-color: #ffd900;
    color: #ffd900;
}

.reward {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 20px;
    width: 400px;
    border: solid rgb(25, 193, 212) 5px;
}